<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<meta charset="utf-8">
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
{#    <script src={% static "js/angular.min.js" %}></script>#}
{#    <script src={% static "js/angular-route.min.js" %}></script>#}
    <script src="http://192.168.174.132:88/angular.min.js"></script>
    <script src="http://192.168.174.132:88/angular-route.min.js"></script>
    <script src="http://192.168.174.132:88/jquery-3.2.1.min.js"></script>
    <script src="http://192.168.174.132:88/test.js"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

名: <input type="text" ng-model="firstName"><br>
姓: <input type="text" ng-model="lastName"><br>
<br>
姓名: {{firstName}}

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName= "John";
    $scope.lastName= "Doe";
});
</script>

</body>
</html>